body {
    margin: 0px;
    font-family: 'Hind Madurai', sans-serif;
    background-color: #655345;
    color: #fff;
/* 
    font-family: 'Lora', serif;

    font-family: 'Montserrat', sans-serif; */
}


/*header*/

header {
    padding: 10px;
    display: flex;
    justify-content: left;
    align-items: flex-end;
    background: linear-gradient(90deg, rgba(175,126,41,1) 0%, rgba(176,162,59,1) 100%);
}

header #logo {
    width: 120px;
}

header nav {
    width: 50%;
    margin-left: 34%;
}

header ul {
    list-style-type: none;
    padding: 0px;
}

header ul.navigationList {
    display: flex;
    height: 20px;
}

header ul.navigationList li {
    margin-right: 5%;
}

header ul.navigationList a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 1.2em;
    color: #fff;
    text-decoration: none;
    padding: 0px 5px;
}
  
ul.sousMenu {
    width: 100%;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 200ms;
    background-color: #B09133;
    border-radius: 0px 3px 3px;
    position: relative;
}

li.menuDeroulant:hover > .sousMenu {
    max-height: 100px;
    padding-bottom: 1px;
}  

ul.sousMenu li {
    text-align: left;
    
}

header ul.navigationList a:hover {
    border-bottom: 2px solid rgb(214, 230, 0);
    color: rgb(214, 230, 0);
}

/*section*/

section {
    max-width: 1080px;
    margin: auto;
    font-size: 1.2em;
}

article {
    text-align: justify;
    text-justify: auto;
}

section h1 {
    font-family: 'Lora', serif;
    font-size: 1.6em;
}

#biographie aside {
    float: right;
    max-width: 40%;   
    margin-left: 20px;
}

#biographie img {
    width: 100%;
}

#contenerArticles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}

div.article {
    width: 45%;
}

article.actu {
    width: 100%;
    max-height: 650px;
    border-radius: 2%;
    background-color: #B09133;
    padding: 7px;
    margin-top: 30px;
    overflow: hidden;
    box-shadow: #00000050 0px 7px 29px 0px;
}

article.actu img{
    width: 100%;
}

article.actu h1 {
    height: 15%;
}

article.actu .articleContent {
    height: 20%;
}

article.actu p {
    height: 52px;
    overflow: hidden;
    margin-bottom: 0px;    
}

#btnControl1 {
    display: none;
}

#btnControl2 {
    display: none;
}

#btnControl3 {
    display: none;
}

#btnControl4 {
    display: none;
}

#btnControl1:checked + label > article.actu {
    max-height: 2000px;
}

#btnControl2:checked + label > article.actu {
    max-height: 2000px;
}

#btnControl3:checked + label > article.actu {
    max-height: 2000px;
}

#btnControl4:checked + label > article.actu {
    max-height: 2000px;
}

#btnControl1:checked + label > article.actu p {
    height: auto;
    margin-bottom: 20px;
}

#btnControl2:checked + label > article.actu p {
    height: auto;
    margin-bottom: 20px;
}

#btnControl3:checked + label > article.actu p {
    height: auto;
    margin-bottom: 20px;
}

#btnControl4:checked + label > article.actu p {
    height: auto;
    margin-bottom: 20px;
}

#btnControl1:checked + label > article.actu i {
    display: none;
}

#btnControl2:checked + label > article.actu i {
    display: none;
}

#btnControl3:checked + label > article.actu i {
    display: none;
}

#btnControl4:checked + label > article.actu i {
    display: none;
}

form label {
    margin-top: 15px;
}
section#contactForm > div {
    width: 60%;
    border-radius: 2px;
    box-shadow: #00000050 0px 7px 29px 0px;
    margin: 30px auto;
    line-height: 0em;
}

section#contactForm > div > img {
    width: 100%;
    border-radius: 2px 2px 0px 0px;
}

form {
    padding: 26px 20px;
    display: flex;
    flex-direction: column;
    background-color: #B09133;
    line-height: 1.2em;
    border-radius: 0px 0px 2px 2px;
}

form input {
    padding: 0px;
    border: 0px;
    border-radius: 2px;
    box-shadow: #00000050 0px 7px 29px 0px;
    height: 22px;
}

div.fullName {
    display: flex;
    justify-content: space-between;
}

div.fullName div {
    width: 45%;
}

div.fullName input {
    width: 100%;
}

form textarea {
    width: 100%;
    height: auto;
    resize: none;
    padding: 0px;
    border: 0px;
    border-radius: 2px;
    box-shadow: #00000050 0px 7px 29px 0px;
}

div#videosContener {
    width: 100%;
    background-color: #B09133;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    border-radius: 2px;
    box-shadow: #00000050 0px 7px 29px 0px;
    margin: 30px 0px;
}

h3 {
    font-family: 'Lora', serif;
}

#videosContener video {
    margin-bottom: 30px;
}

div#photosContener {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #B09133;
    padding: 30px 30px 0px;
    border-radius: 2px;
    box-shadow: #00000050 0px 7px 29px 0px;
    margin: 30px 0px;
}

div#photosContener a {
    width: 45%;
    margin-bottom: 30px;
}

div#photosContener img {
    width: 100%;
}

#eventsContener {
    padding-top: 25px;
}

.event {
    display: flex;
    background-color: #B09133;
    box-shadow: #00000050 0px 7px 29px 0px;
    padding: 10px;
    border-radius: 2px;
    margin-bottom: 25px;
}

.event aside {
    line-height: 0em;
    margin-right: 15px;
}

.event img {
    width: 270px;
}

section#realisations, #biographie article {
    background-color: #B09133;
    padding: 30px;
    border-radius: 2px;
    box-shadow: #00000050 0px 7px 29px 0px;
    margin: 30px auto;
}

/*footer*/

footer {
    background-color: #000;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    height: 60px;
    padding-right: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.socialNetworks ul {
    list-style-type: none;
    margin: 0px;
}

.socialNetworks li {
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
}

.socialNetworks li:hover {
    border-color: rgb(214, 230, 0);
}

.socialNetworks a {
    color: #fff;
    text-decoration: none;
    line-height: 32px;
}

footer ul.navigationList {
    display: flex;
    list-style-type: none;
}

footer ul.navigationList li {
    margin-right: 10%;
    height: 20px;
}

footer ul.navigationList a {
    font-weight: 400;
    font-size: 1em;
    color: #fff;
    text-decoration: none;
}

footer ul.navigationList a:hover {
    border-bottom: 1px solid #fff;
}

footer ul {
    list-style-type: none;
    padding: 0px;
}

footer ul.sousMenu {    
    transition: background-color 200ms;    
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: -40px;
}

footer .menuDeroulant {
    position: relative;
}

footer li.menuDeroulant:hover > .sousMenu {    
    background-color: #000;
}  

footer ul.navigationList a {
    padding: 0px 5px;
}